@media (max-width: 1536px) {
    
}

/* xl */
@media (max-width: 1280px) {
    .container{
        width: 90%;
    }

}

/* lg */
@media (max-width: 1024px) {
   .container{
        width: 90%;
    }
    .main-nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
    .text-hero{
        width: 100%;
    }
    .grid-cars{
        grid-template-columns: repeat(2,1fr);
    }
    .bottom-text .text-block{
        width: 90%;
    }
    .menu-footer ul{
        gap: 20px;
        align-items: center;
    }
    .banner-car .photo-car img{
        width: 100%;
    }
}

/* md */
@media (max-width: 768px) {
    
}
   

/* sm */
@media (max-width: 640px) {
    .brand img{
        width: 240px;
    }
    .text-hero h1{
        font-size: 24px;
    }
    .hero-btns{
        flex-direction: column;
        gap: 10px;
    }
    .full-banner{
        padding: 60px 20px;
    }
    .btns-banner{
        flex-direction: column;
    }
    .menu-footer ul{
        flex-direction: column;
    }
    .grid-features{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-features h3{
        letter-spacing: 3px;
    }
    .contact-form .form{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        justify-self: center;
    }
    .form-buttons{
        flex-direction: column;
        width: 90%;
        justify-self: center;
    }
}

/* xs */
@media (max-width: 475px) {
    .full-banner h4{
        font-size: 24px;
    }
    .hero h1{
        font-size: 22px;
    }
    .brand img{
        width: 220px;
        padding: 20px 0;
    }
    .hero p{
        font-size: 12px;
    }
}