body{
    font-family: "Orbitron", sans-serif;
}
.main-header{
    background-color: #212121;
    color: #9A9999;
    padding: 22px;
}
.main-nav ul li a{
    color: #9A9999;
    text-decoration: none;
}

.container{
    width: 1380px;
    margin: 0 auto;
}

.container-flex{
    display: flex;

}

.main-nav nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

.main-header .container-flex{
    justify-content: space-between;
}

.main-nav ul li a:hover{
    color: white;
    transition: all 0.2s;
}

.hero{
    background-image: url(../assets/banner-1.avif);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.hero h1{
    font-size: 37px;
    color: white;
    font-weight: normal;
    line-height: 1.3;
}

.hero p{
    font-size: 14.5px;
    color: white;
    line-height: 2;
    margin: 20px 0;
    font-weight: 100;
}

.hero .container-flex{
    flex-direction: column;
    justify-content: space-between;
    height: 67vh;
}

.brand img{
    width: 380px;
    margin: 0 auto;
}

.brand{
    text-align: center;
}

.hero-btns{
    display: flex;
    gap: 20px;
}

.btn-primary{
    background-color: #212121;
    color: #9A9999;
    border: none;
    font-size: 12px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 80px;
    border-radius: 2px;
}
 .active{
    border-top: 3px solid #9A9999;
 }

 .text-hero{
    width: 42%;
 }

 .grid-cars{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 40px;
 }

 .grid-cars article img{
    max-width: 100%;
    gap: 40px;
 }

 h2.car-model{
    font-size: 14px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    margin: 20px 0;
 }

 .links a{
    color: #9A9999;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
 }

 .links a:hover{
    color: #212121;
    transition: all 0.2s;
 }

 .main-grid{
    padding: 60px 0;
 }

 .links{
    display: flex;
    gap: 20px;
    justify-content: center;
 }

 h3{
    font-size: 12px;
    color: #9A9999;
    letter-spacing: 10px;
 }