body {
   font-family: "Orbitron", sans-serif;
}

.main-header {
   background-color: #212121;
   color: #9A9999;
   padding: 22px;
}

.header-ligth {
   background-color: #F1F1F1;
}

.main-nav ul li a {
   color: #9A9999;
   text-decoration: none;
}

.container {
   width: 1380px;
   margin: 0 auto;
}

.container-flex {
   display: flex;

}

.main-nav nav ul {
   display: flex;
   gap: 50px;
   align-items: center;
   font-size: 13px;
   font-weight: 500;
}

.main-header .container-flex {
   justify-content: space-between;
}

.main-nav ul li a:hover {
   color: white;
   transition: all 0.2s;
}

.header-ligth .main-nav ul li a:hover {
   color: #212121;
   transition: all 0.2s;
}

.hero {
   background-image: url(../assets/banner-1.avif);
   background-size: cover;
   background-position: center;
   padding: 60px 0;
}

.hero h1 {
   font-size: 37px;
   color: white;
   font-weight: normal;
   line-height: 1.3;
}

.hero p {
   font-size: 14.5px;
   color: white;
   line-height: 2;
   margin: 20px 0;
   font-weight: 100;
}

.hero .container-flex {
   flex-direction: column;
   justify-content: space-between;
   height: 67vh;
}

.brand img {
   width: 380px;
   margin: 0 auto;
}

.brand {
   text-align: center;
}

.hero-btns {
   display: flex;
   gap: 20px;
}

.hero-btns button:hover {
   color: #fff;
}

.btn-primary {
   background-color: #212121;
   color: #9A9999;
   border: none;
   font-size: 12px;
   font-family: "Orbitron", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   padding: 14px 70px;
   border-radius: 2px;
}

.active {
   border-top: 3px solid #9A9999;
}

.text-hero {
   width: 42%;
}

.grid-cars {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   text-align: center;
   margin-top: 40px;
}

.grid-cars article img {
   max-width: 100%;
   gap: 40px;
}

h2.car-model {
   font-size: 14px;
   color: #212121;
   text-transform: uppercase;
   letter-spacing: 10px;
   font-weight: 700;
   margin: 20px 0;
}

.links a {
   color: #9A9999;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 4px;
}

.links a:hover {
   color: #212121;
   transition: all 0.2s;
}

.main-grid {
   padding: 60px 0;
}

.links {
   display: flex;
   gap: 20px;
   justify-content: center;
}

h3 {
   font-size: 12px;
   color: #9A9999;
   letter-spacing: 10px;
}

.full-banner {
   background-size: cover;
   background-position: center;
   height: 50vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 60px 0;
}

.full-banner h4 {
   color: #fff;
   font-size: 36px;
   text-transform: uppercase;
   letter-spacing: 15px;
}

.btns-banner {
   display: flex;
   gap: 20px;
}

.btn {
   border: none;
   font-family: "Orbitron", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   padding: 14px 80px;
   border-radius: 2px;
   letter-spacing: 2px;
   cursor: pointer;
}

.btn:hover {
   opacity: 0.9;
   transition: all 0.2s;
}

.btn-blue {
   background-color: #3e6ae1;
   color: #fff;
}

.btn-white {
   background-color: #fff;
   color: #828282;
}

.botton-text {
   background-color: #fff;
   padding: 60px 0;
   text-align: center;
}

.botton-text p {
   font-family: sans-serif;
   font-size: 12px;
   color: #828282;
   line-height: 1.8;
   margin-bottom: 20px;
}

.text-block {
   width: 40%;
   margin: 0 auto;
}

.menu-footer {
   text-align: center;
   padding-bottom: 40px;
}

.menu-footer ul {
   display: flex;
   justify-content: space-between;
}

.menu-footer ul li a {
   text-decoration: none;
   font-size: 10px;
   color: #212121;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.menu-footer ul li a:hover {
   color: #3e6ae1;
   transition: all 0.2s;
}

.brand-footer {
   text-align: center;
   padding: 40px 0;
}

.banner-car{
   padding: 60px 0;
}

.banner-car h2{
   color: #9A9999;
   text-transform: uppercase;
   letter-spacing: 10px;
   font-size: 10px;
   font-weight: 500;
}

.banner-car h1{
   color: #212121;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 10px;
   text-align: center;
   font-weight: 600;
}

.photo-car{
   text-align: center;
}

.grid-features {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
}

.item-feature{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.item-feature img{
   max-width: 100%;
   border-radius: 4px;
}

.item-feature h3{
   color: #212121;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 700;
}

.item-feature p{
   color: #9A9999;
   font-size: 14px;
   line-height: 2;
   letter-spacing: 1px;
}

.banner{
   padding: 60px 0;
}

.banner img{
   max-width: 100%;
   border-radius: 8px;
}